<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/regular.min.css" integrity="sha512-8hM9a+2hrLBhOuB3uiy+QIXBsu6Qk+snsP1CboFQW6pdt/yYz0IcDp/+CGv5m39r9doGUc/zw6aBpyLF6XFgzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');</style>
    <link rel="stylesheet" href="/css/style.css">
    <title>SPORTZ HUDDLE - Home</title>
</head>
<body>
    <header class="header">
        <div class="container text-center">
            <div class="d-flex justify-content-space-between my-3">
                <div class="col d-flex text-center">
                    <i class="fa-solid fa-bars p-3"></i>
                    <i class="fa-solid fa-magnifying-glass p-3"></i>
                </div>
                <div class="col d-flex text-center justify-content-center">
                    <a href="/" class="text-decoration-none text-white">
                        <h2 class="fw-bold">SPORTZ <span class="huddle-span fw-bold">HUDDLE</span></h2>
                    </a>
                </div>
                <div class="col d-flex text-center justify-content-end">
                    <h5 class="d-flex justify-content-center align-items-center fw-light pt-2">EN</h5>
                    <i class="fa-solid fa-angle-down p-3"></i>
                    <div id="authButtons">
                        <!-- This will be populated by JavaScript -->
                    </div>
                </div>
            </div>
        </div>
        <nav class="nav d-flex">
            <div class="container">
                <ul class="list-unstyled text-center d-flex flex-row justify-content-evenly my-0 mx-5 pt-3">
                    <a href="#" class="text-decoration-none text-white active">
                        <li class="justify-content-center d-flex align-items-center pb-2 fw-bold m-1">Home</li>
                    </a>
                    <a href="#" class="text-decoration-none text-white">
                        <li class="justify-content-center d-flex align-items-center fw-bold pb-2 m-1">Region</li>
                    </a>
                    <a href="#" class="text-decoration-none text-white">
                        <li class="justify-content-center d-flex align-items-center pb-2 fw-bold m-1">Leagues & Competitions</li>
                    </a>
                    <a href="#" class="text-decoration-none text-white">
                        <li class="justify-content-center d-flex align-items-center pb-2 fw-bold m-1">Betting</li>
                    </a>
                    <a href="#" class="text-decoration-none text-white">
                        <li class="justify-content-center d-flex align-items-center pb-2 fw-bold m-1">News & Articles</li>
                    </a>
                    <a href="#" class="text-decoration-none text-white">
                        <li class="justify-content-center d-flex align-items-center fw-bold m-1">Chats & Community</li>
                    </a>
                </ul>
            </div>
        </nav>
    </header>

    <section class="hero">
        <div class="main-page container">
            <div class="hero-img">
                <img src="/img/heroimg.jpg" alt="Featured Article">
            </div>
        </div>
    </section>

    <section class="body-section">
        <section class="container">
            <div class="hero-card container">
                <div class="container">
                    <div class="row row-cols-3 mt-3 bg-white shadow sm py-4 mb-5 bg-body-tertiary rounded text-center border-3 mx-5">
                        <div class="col px-5">
                            <a href="#" class="text-decoration-none">
                                <div class="wrapper d-flex justify-content-between align-items-center">
                                    <div class="left d-flex flex-column align-items-start">
                                        <h6>FanDual</h6>
                                        <p class="text-black fw-bold"><span class="bs">$150 </span>Free bet</p>
                                    </div>
                                    <div class="right">
                                        <img src="/img/betway logo.png" alt="Betway">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col px-5">
                            <a href="#" class="text-decoration-none">
                                <div class="wrapper d-flex justify-content-between">
                                    <div class="left d-flex flex-column align-items-start">
                                        <h6>Betway</h6>
                                        <p class="text-black fw-bold align-items-start m-0 p-0">100% up to <span class="bs">$50</span></p>
                                        <p class="text-black fw-bold align-items-start m-0 p-0">cashback</p>
                                    </div>
                                    <div class="right">
                                        <img src="/img/stake logo.png" alt="Stake">
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col px-5">
                            <a href="#" class="text-decoration-none">
                                <div class="wrapper d-flex justify-content-between align-items-center">
                                    <div class="left d-flex flex-column align-items-start">
                                        <h6>Bet365</h6>
                                        <p class="text-black fw-bold"><span class="bs">$150 </span>Free bet</p>
                                    </div>
                                    <div class="right">
                                        <img src="/img/bet365 logo.png" alt="Bet365">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="body-top">
            <div class="container">
                <div class="pt-5">
                    <div class="world-fooball-title mt-5">
                        <div class="world-content text-white px-2">
                            <h3>World Football</h3>
                        </div>
                        <div class="world-btn d-flex m-3">
                            <button class="btn py-2 px-3 rounded-pill border-0 text-white me-3">Premier League</button>
                            <button class="btn py-2 px-3 rounded-pill border-0 text-white me-3">La Liga</button>
                            <button class="btn py-2 px-3 rounded-pill border-0 text-white me-3">Serie A</button>
                            <button class="btn py-2 px-3 rounded-pill border-0 text-white me-3">Bundesliga</button>
                        </div>
                    </div>

                    <div class="row row-cols-2 d-flex justify-content-between">
                        <div class="col d-flex">
                            <div class="top d-flex flex-column justify-content-between">
                                <div class="article-img-con d-flex">
                                    <img src="/img/article img.png" class="article-img" alt="Featured Article">
                                </div>
                                <div class="top-content text-white d-flex flex-column justify-content-between">
                                    <h5 class="my-4">Gerard Pique's Rapidly Growing 7-on-7 Kings League Receives 60 Million Euros Funding And Plans to Expand Globally</h5>
                                    <div class="comment d-flex justify-content-between align-items-end">
                                        <div class="d-flex align-items-center">
                                            <img src="/img/profiles/profile1.jpg" alt="Profile" class="profile-img rounded-circle">
                                            <div class="d-flex flex-column ms-3 align-items-start">
                                                <h4 class="m-0">Nazir Mosquera</h4>
                                                <p class="m-0">6 months ago</p>
                                            </div>
                                        </div>
                                        <div>
                                            <img src="/img/external-link.png" alt="External Link" class="profile-img rounded-circle">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col d-flex">
                            <div class="buttom d-flex flex-column container mx-4 justify-content-between">
                                <!-- News Items -->
                                <div class="container d-flex text-white">
                                    <div>
                                        <h6 class="pe-3">FIFA Lawsuit Resolution Opens Door for European Soccer Leagues to Play in US</h6>
                                        <div class="d-flex align-items-center mt-1">
                                            <img src="/img/Photo by Amber Kipp.png" alt="Profile" class="buttom-img2 rounded-circle">
                                            <div class="d-flex flex-column align-items-start ms-3">
                                                <h6 class="m-0 p-0">Serah Guillermina</h6>
                                                <p class="m-0 p-0">10 months ago</p>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="/img/news/news1.jpg" alt="News" class="buttom-img">
                                </div>
                                <!-- More news items... -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <footer class="footer pt-5 pb-5">
        <div class="footer-top">
            <div class="container pb-4">
                <div class="newslatter row row-cols-2">
                    <div class="introduction container">
                        <div class="title d-flex justify-content-start">
                            <h3>Sign up to our newsletter!</h3>
                        </div>
                        <div class="title-content d-flex justify-content-start">
                            <p>Stay up to date with our news, announcements and articles.</p>
                        </div>
                    </div>
                    <div class="form d-flex flex-row-reverse">
                        <form action="" id="Subscription" class="d-flex">
                            <input type="email" placeholder="Enter your email" class="border-0 btn-outline-0">
                            <button class="border-0 bg-danger text-white fw-bold text-uppercase px-3 py-2">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom mt-4">
            <div class="container">
                <div class="con row row-cols-2">
                    <div class="right d-flex flex-column">
                        <div class="brand">
                            <div class="d-flex align-items-start">
                                <h2 class="fw-bold">SPORTZ <span class="huddle-span fw-bold">HUDDLE</span></h2>
                            </div>
                            <p>Provide the sophisticated sports fan with critical commentary, analysis and critique on a daily basis.</p>
                        </div>
                        <div class="social-media mt-4">
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-youtube"></i>
                        </div>
                    </div>
                    <div class="bottom d-flex flex-row-reverse">
                        <div class="row d-flex">
                            <div class="col">
                                <ul class="list-unstyled container">
                                    <li><h4 class="text-white">Legal</h4></li>
                                    <li>Terms & Conditions</li>
                                    <li>Cookie Policy</li>
                                    <li>Privacy Policy</li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="list-unstyled container">
                                    <li><h4 class="text-white">Company Menu</h4></li>
                                    <li>About Us</li>
                                    <li>Contact</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        // Check authentication status and update UI
        document.addEventListener('DOMContentLoaded', () => {
            const authButtons = document.getElementById('authButtons');
            const token = localStorage.getItem('token');

            if (token) {
                // User is logged in
                authButtons.innerHTML = `
                    <button onclick="logout()" class="border-0 bg-danger text-white fw-bold text-uppercase px-3 py-2">Logout</button>
                `;
            } else {
                // User is not logged in
                authButtons.innerHTML = `
                    <a href="/login" class="text-decoration-none">
                        <button class="border-0 bg-danger text-white fw-bold text-uppercase px-3 py-2">Subscribe</button>
                    </a>
                `;
            }
        });

        function logout() {
            localStorage.removeItem('token');
            window.location.href = '/login';
        }
    </script>
</body>
</html> 